*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  font-family: "outfit", sans-serif;
  font-weight: 400;
}

/************************************ 
 PORTRAIT MODE
***********************************/

@media only screen and (orientation: portrait) {
  .main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(212, 45%, 89%);
  }

  .main__qrcode-block {
    height: 46rem;
    width: 30rem;
    background: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2rem;
  }

  .qrcode__image-block {
    height: 54%;
    width: 85%;
    border-radius: 1rem;
    overflow: hidden;
  }

  .qrcode__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .qrcode__info-block {
    height: 32%;
    width: 92%;
    border-radius: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info__heading-block {
    height: 5rem;
    width: 100%;
    margin: 0.3rem 0 1.9rem 0;
  }

  .info__heading {
    color: hsl(218, 44%, 22%);
    font-size: 2.1rem;
    text-align: center;
  }

  .info__text-block {
    height: 7rem;
    width: 93%;
    text-align: center;
  }

  .info__text {
    color: hsl(216, 15%, 48%);
    font-size: 1.5rem;
    text-align: center;
  }

  .attribution {
    margin-top: 5rem;
  }
}

/************************************ 
 LANDSCAPE MODE
***********************************/

@media only screen and (orientation: landscape) {
  .main {
    height: 130vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(212, 45%, 89%);
  }

  .main__qrcode-block {
    height: 28rem;
    width: 54rem;
    background: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
  }

  .qrcode__image-block {
    height: 80%;
    width: 42%;
    border-radius: 1rem;
    overflow: hidden;
  }

  .qrcode__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .qrcode__info-block {
    height: 82%;
    width: 45%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .info__heading-block {
    height: 10rem;
    width: 100%;
    margin: -2.5rem 0 0.3rem 0;
  }

  .info__heading {
    color: hsl(218, 44%, 22%);
    font-size: 2.4rem;
    text-align: center;
  }

  .info__text-block {
    height: 7rem;
    width: 93%;
    text-align: center;
  }

  .info__text {
    color: hsl(216, 15%, 48%);
    font-size: 1.7rem;
    text-align: center;
  }

  .attribution {
    margin-top: 5rem;
  }
}
